body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'PingFang TC', sans-serif;
}

html { font-size: 16px; }

/* 導覽列 */
.nav-list{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  font-weight: bold;
  gap: 2.5rem;
  font-size: 1.75rem; /*28px*/
}

.nav-item{
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: blue;
}

/* 橫幅 */
.banner{
  display: flex;
  border-bottom: 2px solid gray;
  align-items: center;
  margin-bottom: 5rem;
}

.banner-left,.banner-right {
  flex: 0 0 50%;
  box-sizing: border-box;
}

.banner img{
  display: block;
  max-width: 100%;
  height: auto;
}

.banner-right{
  font-weight: bold;
  padding-left: 1rem;
}

.banner-right h1{
   font-size: 1.75rem; /*28px*/
}

.right-time{
  color: #3C3C3C;
  font-size: 1rem; /*16px*/
}

.right-wrap{
  color: blue;
  padding-top: 0.625em;
  padding-bottom: 0.75em;
  font-size: 1.5rem; /*24px*/
}

.badge{
  color: #FFF;
  margin-left: 5px;
  background-color: blue;
  font-size: 1rem; /* 最新文章16px */
  padding: 0.6em 0.625em;
  border-radius: 9999px;
  display: inline-block;
  margin-left: 0.5rem;
}

/* 前言 */
.section-title{
  color: blue;
  font-size: 1.75rem; /* 前言28px */
  font-weight: bold;
}

.section{
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 0.75rem;
}

.section p{
  line-height: 150%; /* 行高放大1.5倍 ，字體大小 16 px → 行高 = 16 px × 1.5 = 24 px */
  font-size: 1rem;
}

.section img{
  width: 100%;
  margin-bottom: 1.5rem;
}

.section h3{
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
}

.section ol{
  line-height: 150%;
  list-style: decimal;
}

.section li{
  margin-left: 1.3rem;
}

.section a{
  text-decoration: none;
  color: #0027D5;
  transition: color 0.3s;
}

.section a:hover{
  text-decoration: revert;
}

.summary-box{
  background-color: #EDEDED;
  border-radius: 20px;
  padding: 1.5rem;
}